<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="dmax.quadruped" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application>

        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/Theme.Large"
            android:label="BT"
            android:icon="@mipmap/ic_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".connection.ConnectorService"/>
        <service android:name=".connection.ConnectorService2"/>

    </application>

</manifest>

